{% extends "base.html" %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

{% block content %}

    {% if form %}
      <h3>{% trans "Send Mail" %}</h3>

      <form id="app-form" class="form form-configuration" method="post">
        {% csrf_token %}

        {{ form|bootstrap }}

        <input type="submit" class="btn btn-primary"
              value="{% trans "Send Mail" %}"/>
      </form>
    {% endif %}

{% endblock %}
